.product-list {
    padding: 16px 32px;
    width: 95%;
    min-height: 19vh;
    max-height: 56vh;

    &--wrapper {
        display: flex;
        padding-left: 40px;
        flex-wrap: wrap;
    }
}

.item-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    width: 16.66%;
    margin: 16px;
    border: 1px solid rgba($color: black, $alpha: 0.1);
    border-radius: 4px;

    &__information {
        padding: 6px 12px;
        margin-top: 12px;

        .title {
            text-overflow: ellipsis;
            font-size: 14px;
            color: rgba($color: black, $alpha: 0.8);
            white-space: nowrap;
            overflow-x: hidden;

            h3 {
                margin: 4px 0 8px;
            }
        }
    }

    &__modal {
        display: flex;
        .img-wrap {
            flex-basis: 40%;
            min-width: 40%;
        }
        .meta {
            flex-grow: 60%;
            h3 {
                margin-top: 12px;
                margin-bottom: 4px;
                opacity: 0.8;
            }
            p {
                font-weight: 300;
                color: grey;
                font-family: Roboto;
                font-size: 14px;
            }
        }

        button.cart-add {
            border-radius: 0px;
        }
        
        .cart-addon {
            justify-content: space-between;
        }
    }
}


.pricing {
    small {
        opacity: 0.5;
        font-weight: 400;
        margin-left: 8px;
    }
    span {
        font-size: 14px;
        font-weight: 500;
    }
}

button.cart-add {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    background-color: #E5D9F2;
    border-radius: 0px 0px 4px 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 16px;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;    
    
    &__modal {
        margin-top: 8px;
        display: flex;
    }
}

.cart-addon {
    margin-top: auto;
    display: flex;
    &__modal {
        margin-top: 8px;
    }
    // margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
        background-color: #E5D9F2;
        border-radius: 4px;
        border: unset;
        font-size: 14px;
        padding: 8px 12px;
        color: black;
    }
    span.counter {
        font-weight: lighter;
        padding: 0 16px;
    }
}
.item-banner{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    width: 97.5%;
    margin: 15px;
    border: 1px solid rgba($color: black, $alpha: 0.1);
    border-radius: 4px;
}

.dropdown-menu{
    color: black;
    position:fixed;
    top: 80px;
    right: 20px;
    background-color: #F5EFFF;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: black;
  }
  
  .dropdown-menu ul li:hover a{
    color: #A594F9;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
    color: black;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
    color: black;
  }

*{
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
}
.MainDiv{
    background-color: #F5EFFF;
}